@{
    ViewBag.Title = "Home Page";
}
@model  IEnumerable < KP.Models.MdlSchedule >
<head>
<meta name="viewport" content="width=device-width" />
<title>Index</title>
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Предмет</th>
                <th>Домашнее задание</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sub_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.homework)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
